@import "tailwindcss";
@import "./styles/theme.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GameOfSquids";
  src: url("./assets//fonts/GameOfSquids.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  background: #ececec;
}

.font-logo {
  font-family: "GameOfSquids", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

#nprogress .bar {
  background: #ef4444 !important;
  position: fixed !important;
  z-index: 99999 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 3px !important;
}

#nprogress .peg {
  z-index: 99999 !important;
  box-shadow: 0 0 10px #ef4444, 0 0 5px #ef4444 !important;
}
