@import "tailwindcss";
@import "./styles/theme.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GameOfSquids";
  src: url("./assets//fonts/GameOfSquids.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  background: #ececec;
}

.font-logo {
  font-family: "GameOfSquids", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .input-neo {
    @apply
      rounded-none
      border-2 border-slate-900
      bg-transparent
      px-4 py-5
      w-full
      text-[0.85rem] md:text-[1rem] font-medium
      placeholder:text-muted-foreground/50
      placeholder:text-sm
      transition-all
      focus-visible:outline-none
      focus-visible:ring-0
      focus:-translate-x-1
      focus:-translate-y-1
      shadow-[2px_2px_0px_0px_#020617]
      focus:border-[#3385F0]
      focus:shadow-[4px_4px_0px_0px_#3385F0];
  }
}
